 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 689px;
}

.u-section-1 .u-group-1 {
  width: 1055px;
  min-height: 615px;
  margin: 35px auto 39px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 0 30px;
}

.u-section-1 .u-image-1 {
  width: 532px;
  height: 365px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -57px auto 0 231px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: SFUIText-Regular;
  font-weight: 400;
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -35px 131px 0 101px;
}

.u-section-1 .u-text-2 {
  font-family: SFUIText-Regular;
  margin: 42px 131px 0 101px;
}

.u-section-1 .u-text-3 {
  font-size: 0.75rem;
  font-family: SFUIText-Regular;
  margin: 33px 131px 0 101px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -46px;
    margin-left: 174px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -47px;
    margin-right: 73px;
    margin-left: 43px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 33px;
    margin-right: 73px;
    margin-left: 43px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 74px;
    margin-left: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-top: 41px;
    margin-bottom: 33px;
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -57px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -36px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 41px;
    min-height: 585px;
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    height: NaNpx;
    margin-top: -62px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -16px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 40px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 47px;
    margin-bottom: 23px;
    min-height: 710px;
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    margin-top: -15px;
    margin-right: -5px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
    margin-top: 0;
    margin-left: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 47px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 53px;
    margin-left: 5px;
    margin-right: 5px;
  }
} .u-section-2 {
  background-image: url("images/68.png");
}

.u-section-2 .u-sheet-1 {
  min-height: 47px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 46px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 20px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 832px;
}

.u-section-3 .u-text-1 {
  font-family: SFUIText-Regular;
  width: 864px;
  margin: 70px auto 0;
}

.u-section-3 .u-list-1 {
  width: 1060px;
  margin: 51px auto 32px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 607px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 72px;
  width: 72px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-3 .u-group-1 {
  width: 403px;
  min-height: 201px;
  margin: -72px 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: SFUIText-Regular;
  font-weight: bold;
}

.u-section-3 .u-text-3 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-family: SFUIText-Regular;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 72px;
  width: 72px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-3 .u-group-2 {
  width: 403px;
  min-height: 201px;
  background-size: auto;
  margin: -72px 0 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-4 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: SFUIText-Regular;
  font-weight: bold;
}

.u-section-3 .u-text-5 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-family: SFUIText-Regular;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 72px;
  width: 72px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-3 .u-group-3 {
  width: 403px;
  min-height: 201px;
  background-size: auto;
  margin: -72px 0 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: SFUIText-Regular;
  font-weight: bold;
}

.u-section-3 .u-text-7 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-family: SFUIText-Regular;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 72px;
  width: 72px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-3 .u-group-4 {
  width: 403px;
  min-height: 201px;
  background-size: auto;
  margin: -72px 0 0 auto;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-8 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: SFUIText-Regular;
  font-weight: bold;
}

.u-section-3 .u-text-9 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-family: SFUIText-Regular;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 3px) calc(50% - 3px);
    grid-gap: 6px 6px;
    min-height: 414px;
  }

  .u-section-3 .u-icon-1 {
    padding: 15px;
  }

  .u-section-3 .u-group-1 {
    width: 333px;
    min-height: 169px;
  }

  .u-section-3 .u-icon-2 {
    padding: 15px;
  }

  .u-section-3 .u-group-2 {
    width: 333px;
    min-height: 169px;
  }

  .u-section-3 .u-icon-3 {
    padding: 15px;
  }

  .u-section-3 .u-group-3 {
    width: 333px;
    min-height: 169px;
  }

  .u-section-3 .u-icon-4 {
    padding: 15px;
  }

  .u-section-3 .u-group-4 {
    width: 333px;
    min-height: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-icon-1 {
    height: 114px;
    width: 114px;
    padding: 23px;
  }

  .u-section-3 .u-group-1 {
    width: 552px;
    min-height: 193px;
    margin-top: -114px;
  }

  .u-section-3 .u-icon-2 {
    height: 114px;
    width: 114px;
    padding: 23px;
  }

  .u-section-3 .u-group-2 {
    width: 552px;
    min-height: 193px;
    margin-top: -114px;
  }

  .u-section-3 .u-icon-3 {
    height: 114px;
    width: 114px;
    padding: 23px;
  }

  .u-section-3 .u-group-3 {
    width: 552px;
    min-height: 193px;
    margin-top: -114px;
  }

  .u-section-3 .u-icon-4 {
    height: 114px;
    width: 114px;
    padding: 23px;
  }

  .u-section-3 .u-group-4 {
    width: 552px;
    min-height: 193px;
    margin-top: -114px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1237px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 42px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 966px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 9px;
  }

  .u-section-3 .u-icon-1 {
    height: 91px;
    width: 91px;
    padding: 18px;
  }

  .u-section-3 .u-group-1 {
    width: 378px;
    min-height: 187px;
    margin-top: -91px;
    margin-right: 19px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 9px;
  }

  .u-section-3 .u-icon-2 {
    height: 91px;
    width: 91px;
    padding: 18px;
  }

  .u-section-3 .u-group-2 {
    width: 378px;
    min-height: 187px;
    margin-top: -91px;
    margin-right: 19px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 9px;
  }

  .u-section-3 .u-icon-3 {
    height: 91px;
    width: 91px;
    padding: 18px;
  }

  .u-section-3 .u-group-3 {
    width: 378px;
    min-height: 187px;
    margin-top: -91px;
    margin-right: 19px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 9px;
  }

  .u-section-3 .u-icon-4 {
    height: 91px;
    width: 91px;
    padding: 18px;
  }

  .u-section-3 .u-group-4 {
    width: 378px;
    min-height: 187px;
    margin-top: -91px;
    margin-right: 19px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-group-1 {
    width: 235px;
    min-height: 301px;
    margin-top: -78px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 29px;
  }

  .u-section-3 .u-group-2 {
    width: 235px;
    min-height: 301px;
    margin-top: -78px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 29px;
  }

  .u-section-3 .u-group-3 {
    width: 235px;
    min-height: 301px;
    margin-top: -78px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 29px;
  }

  .u-section-3 .u-group-4 {
    width: 235px;
    min-height: 301px;
    margin-top: -78px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-8 {
    padding-bottom: 29px;
  }
} .u-section-4 {
  background-image: url("images/ensggg.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 39px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 34px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 16px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 607px;
}

.u-section-5 .u-text-1 {
  font-family: SFUIText-Regular;
  margin: 55px auto 0;
}

.u-section-5 .u-text-2 {
  font-family: SFUIText-Regular;
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 55px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(12.5% - 8.75px) calc(12.5% - 8.75px) calc(12.5% - 8.75px) calc(12.5% - 8.75px) calc(12.5% - 8.75px) calc(12.5% - 8.75px) calc(12.5% - 8.75px) calc(12.5% - 8.75px);
  min-height: 286px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 0 10px;
}

.u-section-5 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  font-family: SFUIText-Regular;
  font-size: 0.9375rem;
  margin: 28px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 0 10px;
}

.u-section-5 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  font-family: SFUIText-Regular;
  font-size: 0.9375rem;
  margin: 28px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 0 10px;
}

.u-section-5 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  font-family: SFUIText-Regular;
  font-size: 0.9375rem;
  margin: 28px 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 0 10px;
}

.u-section-5 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  font-family: SFUIText-Regular;
  font-size: 0.9375rem;
  margin: 28px 0 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 0 0 10px;
}

.u-section-5 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-7 {
  font-family: SFUIText-Regular;
  font-size: 0.9375rem;
  margin: 28px 0 0;
}

.u-section-5 .u-container-layout-6 {
  padding: 0 0 10px;
}

.u-section-5 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-8 {
  font-family: SFUIText-Regular;
  font-size: 0.9375rem;
  margin: 28px 0 0;
}

.u-section-5 .u-container-layout-7 {
  padding: 0 0 10px;
}

.u-section-5 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-9 {
  font-family: SFUIText-Regular;
  font-size: 0.9375rem;
  margin: 28px 0 0;
}

.u-section-5 .u-container-layout-8 {
  padding: 0 0 10px;
}

.u-section-5 .u-icon-8 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-10 {
  font-family: SFUIText-Regular;
  font-size: 0.9375rem;
  margin: 28px 0 0;
}

.u-section-5 .u-container-layout-9 {
  padding: 0 0 10px;
}

.u-section-5 .u-icon-9 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-11 {
  font-family: SFUIText-Regular;
  font-size: 0.9375rem;
  margin: 28px 0 0;
}

.u-section-5 .u-container-layout-10 {
  padding: 0 0 10px;
}

.u-section-5 .u-icon-10 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-12 {
  font-family: SFUIText-Regular;
  font-size: 0.9375rem;
  margin: 28px 0 0;
}

.u-section-5 .u-container-layout-11 {
  padding: 0 0 10px;
}

.u-section-5 .u-icon-11 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-13 {
  font-family: SFUIText-Regular;
  font-size: 0.9375rem;
  margin: 28px 0 0;
}

.u-section-5 .u-container-layout-12 {
  padding: 0 0 10px;
}

.u-section-5 .u-icon-12 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-14 {
  font-family: SFUIText-Regular;
  font-size: 0.9375rem;
  margin: 28px 0 0;
}

.u-section-5 .u-container-layout-13 {
  padding: 0 0 10px;
}

.u-section-5 .u-icon-13 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-15 {
  font-family: SFUIText-Regular;
  font-size: 0.9375rem;
  margin: 28px 0 0;
}

.u-section-5 .u-container-layout-14 {
  padding: 0 0 10px;
}

.u-section-5 .u-icon-14 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-16 {
  font-family: SFUIText-Regular;
  font-size: 0.9375rem;
  margin: 28px 0 0;
}

.u-section-5 .u-container-layout-15 {
  padding: 0 0 10px;
}

.u-section-5 .u-icon-15 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-17 {
  font-family: SFUIText-Regular;
  font-size: 0.9375rem;
  margin: 28px 0 0;
}

.u-section-5 .u-container-layout-16 {
  padding: 0 0 10px;
}

.u-section-5 .u-icon-16 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-18 {
  font-family: SFUIText-Regular;
  font-size: 0.9375rem;
  margin: 28px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 236px;
  }

  .u-section-5 .u-icon-1 {
    padding: 6px;
  }

  .u-section-5 .u-text-3 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 4px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-icon-2 {
    padding: 6px;
  }

  .u-section-5 .u-text-4 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 4px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-icon-3 {
    padding: 6px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    font-size: 0.75rem;
    margin-top: 4px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-icon-4 {
    padding: 6px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    font-size: 0.75rem;
    margin-top: 4px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-icon-5 {
    padding: 6px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    font-size: 0.75rem;
    margin-top: 4px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-icon-6 {
    padding: 6px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    font-size: 0.75rem;
    margin-top: 4px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-icon-7 {
    padding: 6px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    font-size: 0.75rem;
    margin-top: 4px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-icon-8 {
    padding: 6px;
  }

  .u-section-5 .u-text-10 {
    width: auto;
    font-size: 0.75rem;
    margin-top: 4px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-icon-9 {
    padding: 6px;
  }

  .u-section-5 .u-text-11 {
    width: auto;
    font-size: 0.75rem;
    margin-top: 4px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-icon-10 {
    padding: 6px;
  }

  .u-section-5 .u-text-12 {
    width: auto;
    font-size: 0.75rem;
    margin-top: 4px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-icon-11 {
    padding: 6px;
  }

  .u-section-5 .u-text-13 {
    width: auto;
    font-size: 0.75rem;
    margin-top: 4px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-icon-12 {
    padding: 6px;
  }

  .u-section-5 .u-text-14 {
    width: auto;
    font-size: 0.75rem;
    margin-top: 4px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-icon-13 {
    padding: 6px;
  }

  .u-section-5 .u-text-15 {
    width: auto;
    font-size: 0.75rem;
    margin-top: 4px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-icon-14 {
    padding: 6px;
  }

  .u-section-5 .u-text-16 {
    width: auto;
    font-size: 0.75rem;
    margin-top: 4px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-icon-15 {
    padding: 6px;
  }

  .u-section-5 .u-text-17 {
    width: auto;
    font-size: 0.75rem;
    margin-top: 4px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-icon-16 {
    padding: 6px;
  }

  .u-section-5 .u-text-18 {
    width: auto;
    font-size: 0.75rem;
    margin-top: 4px;
    margin-left: 1px;
    margin-right: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 823px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 34px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
    min-height: 556px;
  }

  .u-section-5 .u-text-3 {
    width: 101px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-4 {
    width: 101px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-5 {
    width: 101px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-6 {
    width: 101px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-7 {
    width: 101px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-8 {
    width: 101px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-9 {
    width: 101px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-10 {
    width: 101px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-11 {
    width: 101px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-12 {
    width: 101px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-13 {
    width: 101px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-14 {
    width: 101px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-15 {
    width: 101px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-16 {
    width: 101px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-17 {
    width: 101px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-18 {
    width: 101px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 827px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 46px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 548px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 8px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 8px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 8px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 8px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-bottom: 8px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 20px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-bottom: 8px;
  }

  .u-section-5 .u-text-8 {
    margin-top: 20px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-bottom: 8px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 20px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-bottom: 8px;
  }

  .u-section-5 .u-text-10 {
    margin-top: 20px;
  }

  .u-section-5 .u-container-layout-9 {
    padding-bottom: 8px;
  }

  .u-section-5 .u-text-11 {
    margin-top: 20px;
  }

  .u-section-5 .u-container-layout-10 {
    padding-bottom: 8px;
  }

  .u-section-5 .u-text-12 {
    margin-top: 20px;
  }

  .u-section-5 .u-container-layout-11 {
    padding-bottom: 8px;
  }

  .u-section-5 .u-text-13 {
    margin-top: 20px;
  }

  .u-section-5 .u-container-layout-12 {
    padding-bottom: 8px;
  }

  .u-section-5 .u-text-14 {
    margin-top: 20px;
  }

  .u-section-5 .u-container-layout-13 {
    padding-bottom: 8px;
  }

  .u-section-5 .u-text-15 {
    margin-top: 20px;
  }

  .u-section-5 .u-container-layout-14 {
    padding-bottom: 8px;
  }

  .u-section-5 .u-text-16 {
    margin-top: 20px;
  }

  .u-section-5 .u-container-layout-15 {
    padding-bottom: 8px;
  }

  .u-section-5 .u-text-17 {
    margin-top: 20px;
  }

  .u-section-5 .u-container-layout-16 {
    padding-bottom: 8px;
  }

  .u-section-5 .u-text-18 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 13px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 810px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: 0;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-top: 0;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin-top: 0;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-5 .u-text-10 {
    width: auto;
    margin-top: 0;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-5 .u-text-11 {
    width: auto;
    margin-top: 0;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-5 .u-text-12 {
    width: auto;
    margin-top: 0;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-5 .u-text-13 {
    width: auto;
    margin-top: 0;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-5 .u-text-14 {
    width: auto;
    margin-top: 0;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-5 .u-text-15 {
    width: auto;
    margin-top: 0;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-5 .u-text-16 {
    width: auto;
    margin-top: 0;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-5 .u-text-17 {
    width: auto;
    margin-top: 0;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-5 .u-text-18 {
    width: auto;
    margin-top: 0;
    margin-left: 3px;
    margin-right: 3px;
  }
}@font-face {
  font-family: 'SFUIText-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SFUIText-Regular.otf);
}